<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TibiantisHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TibiantisHelper.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vocation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Promotion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginAlertDefault" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableNetwork" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoginAlertNotifTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoginAlertNotifSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowMinimizeNotif" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoginAlertNotifSoundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimerNotifTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimerNotifSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerNotifSoundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="NotifOnMinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifTimerOpen" serializeAs="String">
                <value>False</value>
            </setting>
        </TibiantisHelper.Properties.Settings>
    </userSettings>
</configuration>